.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: middle;
}

.calendar-wrapper {
  height: 100%;
  overflow: auto;
}

.calendar {
  overflow: auto;

  rect {
    fill: steelblue;
    stroke: black;
    stroke-width: 1px;
  }

  .event {
    fill: yellow;
  }
}